			.Box {
				position: relative;      /* 相对定位 */				
							
							height: 50px;
							line-height: 20px;
							background-color: #55aa00;
							margin: 15px auto 0px auto;
							overflow: hidden;        /* 溢出内容隐藏 */				
						}
						.Box ul {
							position: absolute;      /* 绝对定位 */				
							left: 0;
							top: 0;
						}
						.Box ul li {
							float: left;
							margin-right: 15px;      /* 让每个条目右侧空15px */				
							color: #fff;
						}
			.header{
				height: 300px;
				background:url(../img/R-C.jfif);
				background-size: cover;
				background-position: center; 	
					position: relative;
			}
			header .wrap{
				height: 40px;
				display: flex;
				margin-top: 20px;
			}
			header .wrap>*{
				flex: 1;
				
			}
			header .wrap .logo img{
				
				width: 120px;
			}
			 .search-container {
			     position: absolute;
			     top: 50%; /* Position at 50% from the top of the parent */
			     right: 12%;
			     transform: translateY(-50%); /* Center vertically */
			     width: 100%;
			     max-width: 600px;
			     margin: 0 auto;
			 }
			        
			        .search-input {
			            width: 100%;
						height: 50px;
			            padding: 15px;
			            font-size: 20px;
			            border: 1px solid #ccc;
			            border-radius: 4px;
			        }
			        
			        .search-button {
			            position: absolute;
						font-size: 25px;
			            top: 0px;
			            right: 0px;
			            padding: 20px 30px 30px 20px;
			            background-color: #4CAF50;
			            color: white;
			            border: none;
			            border-radius: 0 4px 4px 0;
			            cursor: pointer;
			        }
			        
			        .search-button:hover {
			            background-color: #45a049;
			        }
					body{
						font-family:Arial, Helvetica, sans-serif,"宋体"; font-size:20px;
						}
						/*未点击和点击后的样式*/
						a:link,a:visited{color:#222;text-decoration:none;}
						
						/*鼠标移上时的样式*/                                               
						a:hover{color:#ff0000;} 
						header{
							height: 50px;
							background-color:#c7c8c3;
						}
						header nav{
							display: flex;
							font-size: 38px;
						}
						header nav a{
							color: #fff;
							flex: 1;
							transition: all 500ms;
							display: flex;
							justify-content: center;
							align-items: center;
						}
						header nav a:hover{
							color: #fff;
							background: #d0f4ff;
						}
						
						a{
							text-decoration: none;
						}
						
						.banner{
							width: 1850;
							height: 400px;
							margin: 0 auto;
						    overflow: hidden;
						}
						.banner .slider img{
							float: left;
							width: 1200px;
							height: 400px;
							margin: 0px 0px;
						}
						
.box{
						display: flex;
						background-color: #fffbea;
						text-indent: 2em;
						
					}
					.web21{
						margin-top: 0;
											display: flex;
											text-indent: 2em;
											background-color: #fffbea;
											font-size: 30px;
											
										}
					.web31{
						margin-top: 0;
						background-color: #fffbea;
						text-align: center;
					}
				.main{
							width: 100%;
							margin-left: 0;
							margin-right: 0;
							
							}
						.left,.mid,.right{
							margin-top: 0;
							/* margin-right: 50px; */
							margin-left: 2%;
							flex: 1;
							
							height: 400px;
							
						}
						.web11,.web12,.web13{
							margin-top: 20px;
							flex: 1;
							margin-left: 1%;
							width: 400px;
							height: 400px;
							
							font-size: 25px;
							text-align: center;
						}
							.left2,.right2{
								margin-top: 0;
								/* margin-right: 50px; */
								font-size: 21px;
								flex: 1;
								width: 400px;
								height: 400px;		
							}
								.left1,.left3,.mid1,.mid3,.right1,.right3{
									margin-top: 0;
									/* margin-right: 50px; */
									margin-left: 3%;
									flex: 1;
									width: 400px;
									height: 400px;		
								}
.box1{
	               margin-top: 80px;
					position: relative;		              /* 外层盒子相对定位 */	
					width:200px;
					height:450px;			
					perspective: 230px;                  /* 透视距离 */	
					}
					.box1 img,.box1 .text{                     /* 图像层和遮罩层的样式，位置重叠 */
						position: absolute;                  /* 绝对定位 */
						top:0;
						left:0;
						width:200px;
						height: 450px;
					}
					.box1 .text{                              /* 遮罩层文本块的样式 */	
						background-color: rgba(0,0,0,0.5);   /* 背景半透明 */
						color:white;
					}
					.box1 .text h1{
						width:200px;
						margin:20px auto;
						font-size:30px;
						text-align: center;
					}
					.box1 .text p{
						width:200px;
						margin:10px auto 0;
						font-size:25px;
						text-align: justify;
					}
					.zheng,.fan{
						backface-visibility: hidden;      /* 背面内容不可见 */
						transition: all 0.5s ease-in 0s;  /* 过渡效果 */
					}
					.fan{
						transform: rotateY(-180deg);      /* 文字块不可见 */
						
	
					}
					.box1:hover .zheng{
						transform: rotateY(180deg);       /* 图像不可见 */
					}
					.box1:hover .fan{
						transform: rotateY(0deg);         /* 文字块可见 */
					}
.dv1{
									position: relative;
									width: 500px;
									height: 299px;			
									margin: 20px auto;
									background: url(img/瓦罐汤.jpg) no-repeat;
									overflow:hidden;
								}
								.dv1 h2 {
									position: absolute;
									left: -200px;
									top: 0px;
									width: 200px;
									height: 299px;
									line-height: 299px;
									background: rgba(255, 255, 0, 0.5);
									text-align: center;
									font-size:36px;
									color: #008700;
									transition: all 0.5s;				
								}
								.dv1:hover h2 {
									position: absolute;
									left: 0;
									top:  0;
								}
								.dv2{
												position: relative;
												width: 500px;
												height: 299px;			
												margin: 20px auto;
												background: url(img/血鸭.jpeg) no-repeat;
												overflow:hidden;
											}
											.dv2 h2 {
												position: absolute;
												left: -200px;
												top: 0px;
												width: 200px;
												height: 299px;
												line-height: 299px;
												background: rgba(255, 255, 0, 0.5);
												text-align: center;
												font-size:36px;
												color: #008700;
												transition: all 0.5s;				
											}
											.dv2:hover h2 {
												position: absolute;
												left: 0;
												top:  0;
											}
	ul,li {
					list-style: none;
					
				}
				.photos {
					width: 100%;
					height: 400px;
					margin: auto;
					margin-left: -40px;
					background-color: #fffbea;
				}
				.photos li {
					float: left;
					
					height: 400px;
					margin-left: 0;
					margin-bottom: 40px;
				}
				.photos li a {
					display: inline-block;
					
					height: 400px;
					color: #333;
					text-align: center;
					text-decoration: none;
				}
				.photos a:after {
					content: attr(title);
				}
				.photos li:nth-child(even) a {
					transform: rotate(10deg);
				}
				.photos img {
					
					height: 400px;
					transition: all 0.5s ease;
				}
				.photos li:hover .img1 {
								border-radius: 50%;
							}
							.photos li:hover .img2 {
								border: 3px solid #ff0;
								transform: rotate(-60deg);
							}
							.photos li:hover .img3 {
								transform: rotate(360deg);
							}
							.photos li:hover .img5 {
											transform: rotate(-360deg);
										}
				.photos li:hover .img4 {
								box-shadow: 10px 10px 10px #333;
								transform: rotate(-10deg);
							}
			.photos li:hover .img6 {
							transform: scale(1.2);
						}